$function: tone-color-in-range

$colors: tone-color-make-range((hue-range: 293 315))

@for $i from 1 through length($colors)
  .g-cell:nth-child(#{$i}) .d-cell
    // background-color: tone-color-shift(#7f7f7f, $i * 100 / 12, 0, 0)
    // background-color: call($function, $i * 100 / 12, 293 315, 4 90, 53 100)
    // mark: $i * 100 / 12

    background-color: nth($colors, $i)
