$control-box-border-radius: 0 !default
$control-box-space-vertical: var(--space-xs) !default
$control-box-space-horizontal: var(--space-sm) !default
$control-box-border-width: 0px !default
$control-box-font-size: 'body' !default
$control-box-line-height: 'body' !default
