$TONE_PALETTE_MARKS: 0 5 10 20 30 40 50 60 70 80 90 100 !default;
$TONE_GAPS_FILLER_SPECS: (
  'start-base': #fff,
  'end-base': #000,
  'start-weight': 5%,
  'end-weight': 30%,
) !default;

$tone-palette-red: null !default;
$tone-palette-orange: null !default;
$tone-palette-yellow: null !default;
$tone-palette-lite-green: null !default;
$tone-palette-green: null !default;
$tone-palette-turquoise: null !default;
$tone-palette-cyan: null !default;
$tone-palette-blue: null !default;
$tone-palette-deep-blue: null !default;
$tone-palette-purple: null !default;
$tone-palette-magenta: null !default;
$tone-palette-pink: null !default;

$tone-palette-grey: null !default;
$tone-palette-cold-grey: null !default;

$tone-palettes: null !default;

@if $TONE_GENERATE_PALETTES {
  $tone-palette-red: tone-color-palette-range($TONE_PALETTE_MARKS, (hue-range: 18 0)) !default;
  $tone-palette-orange: tone-color-palette-range($TONE_PALETTE_MARKS, (hue-range: 26 31)) !default;
  $tone-palette-yellow: tone-color-palette-range($TONE_PALETTE_MARKS, (hue-range: 58 62, brightness-range: 58 104, saturation-range: 2 96)) !default;
  $tone-palette-lite-green: tone-color-palette-range($TONE_PALETTE_MARKS, (hue-range: 68 78)) !default;
  $tone-palette-green: tone-color-palette-range($TONE_PALETTE_MARKS, (hue-range: 86 100)) !default;
  $tone-palette-turquoise: tone-color-palette-range($TONE_PALETTE_MARKS, (hue-range: 148 160)) !default;
  $tone-palette-cyan: tone-color-palette-range($TONE_PALETTE_MARKS, (hue-range: 190 200)) !default;
  $tone-palette-blue: tone-color-palette-range($TONE_PALETTE_MARKS, (hue-range: 220 212)) !default;
  $tone-palette-deep-blue: tone-color-palette-range($TONE_PALETTE_MARKS, (hue-range: 238 242)) !default;
  $tone-palette-purple: tone-color-palette-range($TONE_PALETTE_MARKS, (hue-range: 270 280)) !default;
  $tone-palette-magenta: tone-color-palette-range($TONE_PALETTE_MARKS, (hue-range: 320 326)) !default;
  $tone-palette-pink: tone-color-palette-range($TONE_PALETTE_MARKS, (hue-range: 336 342)) !default;

  $tone-palette-grey: tone-color-palette-range($TONE_PALETTE_MARKS, (hue-range: 0 0, saturation-range: 0 0, brightness-range: 0 100, brightness-curve: linear)) !default;
  $tone-palette-cold-grey: tone-color-palette-range($TONE_PALETTE_MARKS, (hue-range: 220 212, saturation-range: 2 10, brightness-range: 16 100, brightness-curve: ease-in-out-sine, saturation-rate: 100)) !default;

  $tone-palettes: (
    'red': $tone-palette-red,
    'orange': $tone-palette-orange,
    'yellow': $tone-palette-yellow,
    'lite-green': $tone-palette-lite-green,
    'green': $tone-palette-green,
    'turquoise': $tone-palette-turquoise,
    'cyan': $tone-palette-cyan,
    'blue': $tone-palette-blue,
    'deep-blue': $tone-palette-deep-blue,
    'purple': $tone-palette-purple,
    'magenta': $tone-palette-magenta,
    'pink': $tone-palette-pink,

    'grey': $tone-palette-grey,
    'cold-grey': $tone-palette-cold-grey,
  ) !default;
}
