$theme: () !default;

@if $TONE_GENERATE_THEME {
  $theme: map-merge((
    primary: map-get($tone-palettes, 'blue'),
    accent: map-get($tone-palettes, 'magenta'),
    neutral: map-get($tone-palettes, 'grey'),

    relief: tone-color-palette-names('grey', (
      1: 0, 2: 5, 3: 10, 4: 20, 5: 30, 6: 40
    )),
    text: tone-color-palette-names('grey', (
      1: 100, 2: 80, 3: 60, 4: 50, 5: 40, 6: 30
    )),

    'link-base': var(--theme-primary-50),
    'link-active': var(--theme-primary-40),
    'link-visited': var(--theme-primary-80),
  ), $theme);
}
