$rut-base: 4px !default

$space-1: $rut-base !default
$space-2: 2 * $space-1 !default
$space-3: 3 * $space-1 !default
$space-4: 4 * $space-1 !default
$space-5: 5 * $space-1 !default
$space-6: 6 * $space-1 !default
$space-7: 7 * $space-1 !default
$space-8: 8 * $space-1 !default
$space-9: 9 * $space-1 !default
$space-10: 10 * $space-1 !default

$space-xs: $space-1 !default
$space-sm: $space-2 !default
$space-md: $space-3 !default
$space-lg: $space-4 !default
$space-xl: $space-5 !default

$space-map: () !default
$space-map: map-merge(('xs': $space-xs), $space-map)
$space-map: map-merge(('sm': $space-sm), $space-map)
$space-map: map-merge(('md': $space-md), $space-map)
$space-map: map-merge(('lg': $space-lg), $space-map)
$space-map: map-merge(('xl': $space-xl), $space-map)

$layout-1: $rut-base * 4 !default
$layout-2: 2 * $layout-1 !default
$layout-3: 3 * $layout-1 !default
$layout-4: 4 * $layout-1 !default
$layout-5: 5 * $layout-1 !default
$layout-6: 6 * $layout-1 !default
$layout-7: 7 * $layout-1 !default
$layout-8: 8 * $layout-1 !default
$layout-9: 9 * $layout-1 !default
$layout-10: 10 * $layout-1 !default

$layout-xs: $layout-1 !default
$layout-sm: $layout-2 !default
$layout-md: $layout-3 !default
$layout-lg: $layout-4 !default
$layout-xl: $layout-5 !default
$layout-2xl: $layout-6 !default
$layout-3xl: $layout-7 !default
$layout-4xl: $layout-8 !default
$layout-5xl: $layout-9 !default

$layout-map: () !default
$layout-map: map-merge(('xs': $layout-xs), $layout-map)
$layout-map: map-merge(('sm': $layout-sm), $layout-map)
$layout-map: map-merge(('md': $layout-md), $layout-map)
$layout-map: map-merge(('lg': $layout-lg), $layout-map)
$layout-map: map-merge(('xl': $layout-xl), $layout-map)
$layout-map: map-merge(('2xl': $layout-2xl), $layout-map)
$layout-map: map-merge(('3xl': $layout-3xl), $layout-map)
$layout-map: map-merge(('4xl': $layout-4xl), $layout-map)
$layout-map: map-merge(('5xl': $layout-5xl), $layout-map)
