.vuepress-plugin-demo-block__app
  all: initial
  display: block

  *
    all: initial

.vuepress-plugin-demo-block__app.vuepress-plugin-demo-block__app.vuepress-plugin-demo-block__app.vuepress-plugin-demo-block__app
  @import '../../packages/dermis/index'

  @import 'styles/helpers/highlight-cell'

.vuepress-plugin-demo-block__wrapper .vuepress-plugin-demo-block__display.vuepress-plugin-demo-block__display
  max-height: none
