.#{$GRID_ROW_PREFIX}row
  +cssvar-definition
    --grid-space: #{$grid-row-space}
    --grid-space-vertical: var(--grid-space)
    --grid-space-horizontal: var(--grid-space)
    --grid-row-space: 0
    --grid-cell-space: var(--grid-space-horizontal)
    --grid-cell-space-half: calc(0.5 * var(--grid-cell-space))
    --grid-row-space-half: calc(var(--grid-row-space) * 0.5)

  +grid-row(var(--grid-cell-space-half), var(--grid-row-space-half))

  &--
    &appearance_
      &inline
        display: inline-flex

      &column
        flex-direction: column

      &nowrap
        flex-wrap: nowrap

      &spaced
        --grid-row-space: var(--grid-space-vertical)

    &space_
      &none
        +q-both-adaptive
          --grid-space: 0

      +q-generate-property-modifiers(--grid-space, $grid-row-space-map)


.#{$GRID_ROW_PREFIX}cell
  +grid-cell(var(--grid-cell-space-half), var(--grid-row-space-half))


@if $GRID_SHOULD_ALIGN
  .#{$GRID_ROW_PREFIX}row
    &--
      &align_
        +q-generate-property-modifiers(align-items, $grid-item-alignment-map)

      &justify_
        +q-generate-property-modifiers(justify-content, $grid-content-alignment-map)

      &content_
        +q-generate-property-modifiers(align-content, $grid-content-alignment-map)

  .#{$GRID_ROW_PREFIX}cell
    &--
      &align_
        +q-generate-property-modifiers(align-self, $grid-item-alignment-map, $base: '.#{$GRID_ROW_PREFIX}row')

      &justify_
        +q-generate-property-modifiers(justify-self, $grid-content-alignment-map, $base: '.#{$GRID_ROW_PREFIX}row')
