@mixin grid-row($horizontal-space, $vertical-space)
  display: flex
  flex-wrap: wrap
  margin-right: calc(-1 * #{$horizontal-space})
  margin-left: calc(-1 * #{$horizontal-space})
  margin-top: calc(-1 * #{$vertical-space})
  margin-bottom: calc(-1 * #{$vertical-space})
  list-style: none
  padding: 0

@mixin grid-cell($horizontal-space, $vertical-space)
  padding-right: #{$horizontal-space}
  padding-left: #{$horizontal-space}
  margin-top: #{$vertical-space}
  margin-bottom: #{$vertical-space}
  min-width: 0
