%#{$DERMIS_PREFIX}section__element--indent_outside
  padding-top: 0
  padding-bottom: 0
  margin-top: var(--section-space-vertical)
  margin-bottom: var(--section-space-vertical)


.#{$DERMIS_PREFIX}section
  +panel-block(section, $section-space)

  --section-space-horizontal: 0

  &__
    &element
      @extend %#{$DERMIS_PREFIX}section__element--indent_outside

      display: block

      padding-left: var(--section-space-horizontal)
      padding-right: var(--section-space-horizontal)

      &--
        &indent_
          &outside
            @extend %#{$DERMIS_PREFIX}section__element--indent_outside

          &inside
            margin-top: 0
            margin-bottom: 0
            padding-top: var(--section-space-vertical)
            padding-bottom: var(--section-space-vertical)

  &--
    &space_
      +panel-space-definition(section, $section-space-map)

      &screen
        display: flex
        flex-direction: column
        justify-content: center
        height: 100vh
