.#{$DERMIS_PREFIX}caption
  font-family: var(--type-face-heading)
  color: inherit

  &--
    &size_
      @each $key, $size in $caption-size-map
        &#{$key}
          +q-both-adaptive
            +type-line($size, $caption-line-height)

    &variant_
      &secondary
        font-weight: 300

      &strong
        font-weight: 700

      &uppercase
        text-transform: uppercase
        letter-spacing: var(--type-letter-spacing-3xl)

      &internal
        line-height: 1
