$TABLE_USE_IN_TYPE_CONTENT: true !default

$table-space-horizontal: var(--space-md) !default
$table-space-vertical: var(--space-sm) !default

$table-font-size: var(--type-font-size-sm) !default
$table-font-size-heading: var(--type-font-size-xs) !default
$table-background: var(--theme-relief-1) !default
$table-background-relief: var(--theme-relief-2) !default
$table-border-color: var(--theme-relief-3) !default
